/*
$primary-dark: darken($primary, 5%);
#hd_top,
.btn_submit {
  background-color: $primary;
}

#tnb {
  button,
  .tnb_service {
    background-color: lighten($primary, 5%);

    span {
      background-color: $primary-dark;
    }
  }
}

#btn_gnb {
  &, &.btn_gnb_open {
    background-color: $primary-dark;
  }
}

#container {
  background-color: #f3f3f3;
}

.container_wr {
  background-color: #fff;
}
*/
#logo {
  width: auto;
  background-color: transparent;
  margin-left: 10px;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1em; }
  #logo img {
    display: none; }

#gnb .gnb_li .menu-000 {
  text-indent: 0;
  background-image: none;
  font-size: 11px;
  font-weight: bold;
  color: #223390; }

#gnb .gnb_li .menu-300.btn_op, #gnb .gnb_li .menu-400.btn_op {
  height: 30px; }

#gnb .gnb_li .menu-350, #gnb .gnb_li .menu-450 {
  height: 30px;
  margin-top: -1px;
  background-image: url("../../adm/img/page_3.png"); }

#gnb .gnb_li .menu-460 {
  background-image: none;
  text-indent: 0;
  font-size: 11px;
  letter-spacing: -1px; }

#ft {
  padding: 25px; }
  #ft p {
    padding: 0;
    line-height: 1;
    margin-bottom: 0.313em; }
    #ft p:last-child {
      margin-bottom: 0; }

.tbl_head01 table tbody .row2x th, .tbl_head01 table tbody .row2x td {
  height: 90px; }

.tbl_head01 .check-edit {
  width: 30px;
  padding: 5px 0; }

.frm_input {
  text-indent: 0.313em; }

.btn_fixed_top .btn {
  height: 35px;
  line-height: 35px; }

.tbl_head01 tbody th.cell-label {
  width: 180px;
  text-align: left; }

.tbl_head01 thead .cell-number, .tbl_head01 thead .cell-month,
.tbl_head01 tbody .cell-number,
.tbl_head01 tbody .cell-month {
  width: 80px; }

.tbl_head01 thead .cell-price,
.tbl_head01 tbody .cell-price {
  width: 80px;
  padding: 0; }

.tbl_head01 thead .cell-checkbox,
.tbl_head01 tbody .cell-checkbox {
  width: 34px; }
  .tbl_head01 thead .cell-checkbox_withLabel,
  .tbl_head01 tbody .cell-checkbox_withLabel {
    width: 50px; }

._updated {
  background-color: rgba(255, 0, 0, 0.05);
  color: red; }
  ._updated input {
    color: red; }

@media only screen and (min-width: 1400px) {
  .rental-price {
    display: grid;
    grid-template-columns: 40% auto; } }

.rental-price input {
  height: 33px;
  background-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent; }

.rental-price-product img {
  width: 100%; }

.form-shop-search {
  margin-bottom: 1.25em; }
  .form-shop-search .frm_input_full {
    width: auto; }

.description {
  background-color: #ffeb99;
  border: solid 1px #cca300;
  padding: 0.313em;
  line-height: 1.313em; }

.pagebar {
  margin: 0.626em 0;
  text-align: center; }
  .pagebar-link_active {
    color: #F44336;
    font-weight: bold; }
  .pagebar li {
    display: inline;
    margin: 0 0.313em; }

.types-order {
  width: 60px; }

.cell-thumbnail {
  width: 80px; }
  .cell-thumbnail img {
    max-width: 100%; }

h3 {
  margin-bottom: 0.626em; }

.texts {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  margin-bottom: 1.26em; }
  .texts:last-child {
    margin-bottom: 0; }

.text label {
  display: block; }

.text textarea {
  width: auto;
  resize: none; }

.variables {
  zoom: expression(this.style.zoom=1, this.innerHTML+='<div style="clear:both;">'); }
  .variables:after {
    content: '';
    display: block;
    clear: both;
    height: 0; }
  .variables dt, .variables dd {
    float: left; }
  .variables dt {
    clear: both;
    font-weight: bold;
    margin-right: 0.313em; }
    .variables dt:after {
      content: ':'; }
