# idea
.idea/

# php
vendor/
composer.lock

# js
node_modules/
package-lock.json

# css
*.css

# glam shop
shop/ep_all.txt

# glam premium
rental/
admin/rental/
share/rental/
glam/GlamRental.php
glam/GlamRentalAdmin.php
glam/GlamRentalTrait.php