RewriteEngine On

    # shop index
    RewriteRule ^shop/index.php$ plugin/glam/shop/index.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # shop sub
    RewriteRule ^shop/(.*)?$ plugin/glam/shop/index.php?url=$1 [QSA,L]

    # contents
    RewriteRule ^((?!adm/)[^.]+)$ plugin/glam/router.php?url=$1 [QSA,L]